.container{
    text-align: center;
    /* background-color: saddlebrown; */
    padding: 1rem;
    height: 619px;
    border-radius: 3rem;
     background-image:url("https://cdn.pixabay.com/photo/2016/04/02/00/10/abstract-1301930_960_720.png");}

table{
    margin: auto;
}
input{
    font-size: 26px;
    height: 47px;
}

button{
    font-size: 30px;
    width: 72px;
    border-radius: 2rem;

    
}
footer{
    background-color: #e63232;
    text-align-last: right;
    border-radius: 11px;
    font-size: xx-large;
    background-image:url("https://cdn.pixabay.com/photo/2015/08/28/11/27/space-911785_960_720.jpg");
}
